extends layout

block content
  article
    h1 #{title}
    | Holaa

block footer
  blockquote #{footer}
    a(href='https://github.com/cybermarkus1/node_APIrest') Github project
    a(href='https://bitbucket.org/cybermarkus1/node_apirest', style="margin-left:2%") Bitbucket project

block scripts
  script(src="/vendor/jquery/jquery.min.js")
  script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
  script(src="/vendor/underscore/underscore-min.js")
  script(src="/vendor/backbone/backbone-min.js")

  //- backbone app
  script(src="/js/backbone/models/libro.js")