| Backbone form
.persona
  input(id="name", placeholder="Name")
  input(id="surname", placeholder="Surname")
  input(id="age", placeholder="age")
  input#doit(type="submit", value="Add entry")

| rutas BB
ul#sidebar